.About-section {
    border-top: 20px solid blue;
    
    position: relative;
}
.out{
    left: 49%;
    top:4%;
    position: absolute;
    height: 40px;
    width: 40px;
    background-image: linear-gradient(135deg, #E3E4EC, #214ab1);
    border:1px solid aliceblue;
    border-radius: 20px;
}