.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(135deg, #E3E4EC, #214ab1); /* Gradient background */
  height: 90vh;
  font-family: "Caveat", cursive;
  border-bottom: 20px solid white;
}


.hero-section h1 {
  font-size: 3.5rem !important;
  font-weight: bold;
  color: #131022 !important;
}

.profile-photo {
  width: 100px;
  padding: 10px;
  height: 100px;
  border-radius: 50%; /* Make the image circular */
  object-fit: cover;
}

.video-container {
  width: 50%; /* Adjust as needed */
  height: 20%;
  padding-bottom: 50%; /* 1:1 aspect ratio */
  margin-bottom: 30px;
  position: relative;
  overflow: hidden; /* Hide overflow content */
}

.video-container .video-thumbnail {
  position: absolute;
  top:5%;
  width: 90%;
  height: 90%;
  border-radius: 50%; /* Make the container circular */
  overflow: hidden; /* Hide overflow content */
  border: 5px solid yellow; /* Add yellow border */
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove border */
  object-fit: cover; /* Cover the circular container */
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
    
  }
  .name{
    margin-top: 20%;
  }
 
}
